<header>
  <nav>
    <a href="#" class="nav-item" id="logo"><img src='assets/cloud_sm.png'></img><p>Weather<span>Cloud<span></p></a>
    <a href="#" class="nav-item" id="setting-icon"><img src='assets/settings-icon.png'></img></a>
  </nav>
</header>
