body{
  margin: 0px;
  background-color: rgb(103, 186, 254);
}

.navbar{
  background-color: rgb(255, 255, 255);
  height: 40px;
}

.nav-button{
  margin-top: 2px;
  height: 35px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: rgb(79, 163, 214);
}

#setting-button{
  float: right;

}

#date{
  margin-left: 10px;
  width: 400px;
  font-size: 25px;
  border: 2px black solid;
  display: inline-block;
}

#location{
  font-size: 25px;
  margin-right: 10px;
  float: right;
  border: 2px black solid;
  display: inline-block;
}

.main-display{
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 80px;
  left: 10%;
  border: black 2px solid;
  border-radius: 15px;
  width: 80%;
}

.main-container{
  border: grey 2px dashed;
  height: 400px;
}

.time-display{
  margin: 0px 3%;
  width: auto;
  border: black 2px solid;
  display: block;
  height: 230px;
}

.time-display h1{
  font-size: 60px;
  margin: 60px 5px;
  float: left;
  display: inline-block;
  border: black 2px solid;
}

.block{
  font-size: 25px;
  justify-content: space-between;
  text-align: center;
  margin: 5px 5%;
  float: left;
  border: black 2px solid;
  width: 100px;
  height: 200px;
}

.block h3{
  margin: 5px;
}


.main-display img{
  height: 80px;
  width: 80px;
}

.wind-speed{
  margin: 20px;
  width: auto;
  display: block;
}

.wind-speed h3{
  margin: 20px 5%;
  font-size: 40px;
  float: left;
}


.hidden{
  display: none;
}


.popout{
  position: fixed;;
  background-color: #fff;
  overflow: scroll;


}

.sub-display{
}
