<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherCloud</title>
    <link rel="stylesheet" type="text/css" href="mobile.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <div id='cloud-a'></div>
    <div id='bigSun'></div>
  {{{body}}}
  </body>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js" charset="utf-8"></script>
  <script type="text/javascript" src="subDisplay.js" charset="utf-8"></script>
  <script type="text/javascript" src="main.js" charset="utf-8"></script>
</html>
