@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	min-width: 320px;
	margin: 0px;
	background-color: #71C0EF;
	font-family: 'Roboto', sans-serif;
}

button{
  background: none;
  border: none;
}

img{
	height: 40px;
	width: 40px;
}

.navbar{
	background: white;
	height: 60px;
}

.nav-button{
  margin-top: 2px;
  height: 35px;
  font-size: 20px;
  color: rgb(79, 163, 214);
}

#setting-button{
  float: right;
}

.main-container{
	display: flex;
	flex-wrap: wrap;
}

#date{
	color: white;
	font-size: 25px;
	font-weight: lighter;
	display: flex;
	justify-content: space-around;
}

#location{
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: space-around;
}

.time-display{
	margin-left: 20px;
	width: 60%;
}

.time-display h1{
	margin-left: 35px;
	font-size: 60px;
	color: white;
	font-weight: bolder;
}

.time-display span{
	font-size: 25px;
	color: white;
	position: relative;
	bottom: 23px;
	right: 13px;
	font-weight: lighter;
}

.block{
	font-size: 30px;
	height: 60px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}

.block p{
	font-weight: bold;
	margin: auto 5px;

}

.block h3{

	margin: 10px 10px 5px 5px;
}


.block img{
	margin: auto 5px;
}

.wind-speed{
	padding-top: 40px;
	margin: 0px 20px;
	width: 25%;
	font-size: 30px;
}

.wind-speed h3{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0px;
}

.wind-content{
	border-left: 2px white solid;
}

#average-speed{
	margin-top: 30px;
	margin-left: 0px;
	margin-bottom: 68px;
	color: white;
}

#average-speed span{
	position: relative;
	right: 10px;
	font-size: 20px;
}

.sub-container{
	margin: 5px 5px;
}

.sub-display{
	background-color: gray;
	margin: 20px auto;
	border-radius: 5px;
	width: 85%;
	height: 80px;
	font-size: 20px;
	color: white;
}

.sub-display h1{
	margin-left: 20px;
	display: flex;
	float: left;
}

.sub-display h2{
	margin-right: 20px;
	display: flex;
	float: right;
}

#add-button{
	width: 85%;
	height: inherit;
	font-size: 30px;
	margin: 0px;
	display: block;
	color: white;
	margin-left: 20px;
}


#add-button i{
	margin-right: 30px;
}

#add-button:focus{
	//outline: 0;
}

.hidden{
	display: none;
}
