@media (min-width: 640px) {

  /* change to double column for bottom temps. */

  main{
    margin-left: calc(50% - 320px);
  }

  article{
    float: left;
  }

  .sub-display{
    max-width: 300px;

  }

}

@media (min-width: 768px) {

  /* Change to forecast wide view. */
  main{
    margin-left: calc(50% - 384px);
    max-width: 768px;
  }

  .sub-display{
    max-width: 364px;
    float: left;
  }

  .sub-display h1{
    margin-top: 30px;
    font-size: 36pt;
    margin-left: 35px;
  }

  .sub-display h1 span{
  	top: -24px;
  }

  .sub-display h2{
    margin-top: -42px;
    margin-bottom: 42px;
    margin-right: 40px;

  }

  #add-button p{
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: 38px;
  }

  .timeOfDay{
  	float: left;
  	font-weight: 400;
  	font-size: 12pt;
  }


  .local-forecast{
    background-color: rgba(255,255,255,0.3);
    margin-top: 40px;
  }

  .forecast-item{
    /*background-color: blue;*/
    float: left;
    width: 100px;
    margin: 0;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }


  #date{
    /*background-color: red;*/
    float: left;
    font-weight: 400;
    font-size: 16px;
    width: 350px;
    margin-top: 20px;
    margin-left: 25px;
    text-align: left;
  }

  #location{
    /*background-color: brown;*/
    float: right;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    width: 340px;
    margin-top: 20px;
    margin-right: 25px;
  }

  #main-temp{
    float: left;
    margin-top: 50px;
    margin-left: -320px;
    font-size: 56pt;
    /*background-color: purple;*/
  }

  #main-temp span{
    top: -35px;
  }

  .timeOfDay{
    text-align: center;
    width: 100%;
    /*background-color: red;*/
    margin: 0;
  }

  .forecast-item img{
    /*background-color: purple;*/
    width: 80px;
    margin: 0;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .subTemp{
    /*background-color: brown;*/
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .wind-section{
    left: 50px;
    /*background-color: orange;*/
    width: calc(100% - 100px);

    margin: 0;
    /*margin-top: 150px;*/
    border-top: 1px white solid;
  }

  .wind-wrapper{
    border: none;
    /*background-color: blue;*/
    margin-left: 100px;
  }

  #current-speed{
  	float: left;
    margin-left: 50px;
    margin-top: 10px;

  }

  .wind-section img{
    float: left;
    margin-left: -90px;
    margin-top: 14px;
  }

  .wind-wrapper p{
    float: left;
    /*background-color: brown;*/
    width: 40px;
    margin-left: 80px;
    font-weight: 400;
  }

  #first-wind, #second-wind, #third-wind, #fourth-wind{
    padding: 0;
  }

  #bigSun{
    left: calc(100% - 300px);
    top: -100px;
  }

}



@media (min-width: 900px) {

  main{
    margin-left: calc(50% - 450px);
    max-width: 900px;
  }

  .sub-display {
    max-width: 430px;
  }

  .sub-display h2{
    font-size: 18pt;
    font-weight: 400;
  }

  #add-button p{
    font-size: 18pt;
    font-weight: 400;
  }

  #date{
    width: 410px;
  }

  #location{
    width: 410px;
  }

  #main-temp{
    margin-left: -380px;
    margin-right: 40px;
  }

  .wind-wrapper{
    border: none;
    /*background-color: blue;*/
    margin-left: 138px;
  }

}
